<html>
<head>
<title>Basic HTML Template - Templates - Warren Woodhouse</title>
<meta name="robots" content="noindex">
<meta name="robots" content="user-agent: disallow">
</head>
<body>
  <h1><a name="header">Title Header</a></h1>h1><br />
  <h2><a name="section">Section Header</a></h2><br />
<p>This is a basic HTML template. You can change the text I've added along with the title of the page.</p><br />
  <h2><a name="pages">Pages</a></h2><br />
<p>
  <ul>
    <li><a href="#header" target="_blank" title="Title Header">Title Header</a></li>
    <li><a href="#section" target="_blank" title="Section Header">Section Header</a></li>
    <li><a href="/about" target="_blank" title="About">About</a></li>
    <li><a href="/contact" target="_blank" title="Contact">Contact</a></li>
  </ul>
</p>
</body>
</html>
